<ng-container>
  <div class="cart-container">
    <div class="cart-header">
      <h3 class="title">Carrinho <span>(3 itens)</span></h3>
    </div>
    <div class="product-list">
      <div class="product-item">
        <div class="product-thumb">
          <img src="assets/games-thumbs/call-of-duty-infinite-warfare.png" alt="">
        </div>
        <div class="product-desc">
          <span class="title">Call of duty</span>
          <span class="price">49,99</span>
        </div>
        <button class="remove-product">
          <i class="material-icons mdi mdi-16">close</i>
        </button>
      </div>
    </div>
    <div class="cart-desc">
      <div class="subtotal">
        <span>subtotal</span>
        <span>R$49,99</span>
      </div>
      <div class="frete">
          <span>frete</span>
          <span>R$10,00</span>
      </div>
      <div class="total">
          <span>total</span>
          <span>R$59,99</span>
      </div>
    </div>
    <button class="checkout">
      finalizar compra
    </button>
  </div>
</ng-container>
