<ng-container>
  <div class="cart-container">
    <div class="cart-header">
      <h3 class="title">Carrinho <span>(3 itens)</span></h3>
    </div>
    <div class="product-list">
      <div class="product-item">
        <div class="product-thumb"></div>
        <div class="product-desc"></div>
      </div>
    </div>
    <div class="cart-desc">
      <div class="subtotal"></div>
      <div class="frete"></div>
      <div class="total"></div>
    </div>
    <button class="checkout">
      Finalizar compra
    </button>
  </div>
</ng-container>
