<ng-container>
  <div class="cart-container">
    <div class="empty-state" *ngIf="(cartProducts$ | async).length === 0">
      <i class="material-icons">add_shopping_cart</i>
        <p>Até o momento, o seu carrinho está vazio</p>
    </div>
    <div class="cart-products" *ngIf="(cartProducts$ | async).length > 0">
      <div class="cart-header">
        <h3 class="title">Carrinho <span>({{ (cartProducts$ | async).length }} item(s))</span></h3>
      </div>
      <div class="product-list">
        <cr-product-horizontal-list *ngFor="let item of cartProducts$ | async" [productData]="item">
        </cr-product-horizontal-list>
      </div>
      <div class="cart-desc">
        <div class="subtotal">
          <span>subtotal</span>
          <span>{{ calcValue() - 10.00 }}</span>
        </div>
        <div class="frete">
            <span>frete</span>
            <span>R$10,00</span>
        </div>
        <div class="total">
            <span>total</span>
            <span>{{ calcValue() }}</span>
        </div>
      </div>
      <button class="checkout">
        finalizar compra
      </button>
    </div>
  </div>
</ng-container>
