<div class="list-container">
  <div class="list-products">
    <div class="list-header">
      <h1>Games</h1>
      <select>
        <option>Mais populares</option>
      </select>
    </div>
    <div class="list-items">
      <cr-product-card *ngFor="let item of products" [productData]="item" (addToCart)="addToCart($event)"></cr-product-card>
    </div>
  </div>
  <div class="cart-section">
    <cr-cart-list [cartProducts]="cartProducts" (removeFromCart)="removeFromCart($event)"></cr-cart-list>
  </div>
</div>
