.list-container {
  display: flex;

  .list-products {
    flex: 1;
    display: flex;
    flex-direction: column;

    .list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;

      h1 {
        font-size: 48px;
      }

      select {
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        padding: 10px 20px;
        width: 265px;
      }
    }

    .list-items {
      display: flex;
      flex-wrap: wrap;

      cr-product-card {
        width: 30%;

        &:not(:last-child) {
         margin-right: 30px;
        }
      }
    }
  }

  .cart-section {
    flex-shrink: 1;
    margin-top: 45px;
  }
}
